{% load static %}
<div style="color: transparent">Sample Patterns</div>
<section id="rss">
    <div class="page-header">
        <h1>RSS</h1>
    </div>

    {% include "howto/pattern/sample/rss/index.html" %}

</section>

<section id="farmer">
    <div class="page-header">
        <h1>Farmer</h1>
    </div>

    {% include "howto/pattern/sample/farmer/index.html" %}

</section>

<section id="pagecrawler">
    <div class="page-header">
        <h1>Page Crawler</h1>
    </div>

    {% include "howto/pattern/sample/pagecrawler/index.html" %}

</section>