{% load static %}

<!-- Le javascript
================================================== -->

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
<script src="{% static 'js/application.js' %}"></script>
<script src="{% static 'js/query-builder.standalone.js' %}"></script>
<script src="{% static 'js/pattern-tester.js' %}"></script>
<script src="{% static 'js/pagination.min.js' %}"></script>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script> <!-- for sorting table-->

<script>
    // the entire list of domains
    let domainlist = {{domains|safe}};
    let activebutton = 0;
    let pagebtnmax = 5;
    // the max amount of rows displayed on the page
    let maxdata = 10;
    // counts how many pages are needed
    let pages = Math.ceil(domainlist.length / maxdata);
    // element where we add the rows
    let body = $("#paginating-table tbody");

    // adds rows into a table
    function create_table_body(startindex){
        // number of rows to be added to the table body
        let pagedatamax = (startindex / maxdata + 1 == pages)?(domainlist.length - startindex):maxdata;
        for(let index = startindex; index < startindex + pagedatamax; index++){
            let entry = "<tr><td>"+domainlist[index].id+"</td><td>"+domainlist[index].url+"</td></tr>";
            body.append(entry);
        }
        
    }

    // generate pagination buttons
    function create_pagination_buttons(){
        // create previous button
        let prev = $("<li><button class='page-btn'>&laquo;</a></li>").click(function(){
                if(activebutton != 1){
                    $('#paginating-table tbody tr').remove();
                    activebutton --;
                    create_table_body(activebutton*maxdata);
                }
            });
        $('#pagination-buttons ul').append(prev);
        // create numbered buttons
        if(activebutton > 4){
            let pagebtn = $("<li><button class='page-btn'>1</button></li>").click(function(){
                $('#paginating-table tbody tr').remove();
                activebutton = 0;
                create_table_body(activebutton*maxdata);
            });
            $('#pagination-buttons ul').append(pagebtn);
            $('#pagination-buttons ul').append($("<li><a class='page-btn'>...</button></li>"));
            for(let index = activebutton-2; index < activebutton+3>=pages?pages:activebutton+3; index++){
                let pagebtn = $("<li><button class='page-btn'>"+(index+1)+"</button></li>").click(function(){
                    $('#paginating-table tbody tr').remove();
                    activebutton = index;
                    create_table_body(index*maxdata);
                });
                $('#pagination-buttons ul').append(pagebtn);
            }
            if(activebutton+3<pages){
                $('#pagination-buttons ul').append($("<li><a class='page-btn'>...</button></li>"));
                let pagebtn = $("<li><button class='page-btn'>"+(pages+1)+"</button></li>").click(function(){
                    $('#paginating-table tbody tr').remove();
                    activebutton = pages;
                    create_table_body(activebutton*maxdata);
                });
                $('#pagination-buttons ul').append(pagebtn);
            }
        }
        else{
            for(let index = 0; index < activebutton+3>=pages?pages:activebutton+3; index++){
                let pagebtn = $("<li><button class='page-btn'>"+(index+1)+"</button></li>").click(function(){
                    $('#paginating-table tbody tr').remove();
                    activebutton = index;
                    create_table_body(index*maxdata);
                });
                $('#pagination-buttons ul').append(pagebtn);
            }
            $('#pagination-buttons ul').append($("<li><a class='page-btn'>...</button></li>"));
            let pagebtn = $("<li><button class='page-btn'>"+(pages+1)+"</button></li>").click(function(){
                $('#paginating-table tbody tr').remove();
                activebutton = pages;
                create_table_body(activebutton*maxdata);
            });
            $('#pagination-buttons ul').append(pagebtn);
        }
    }

    $(document).ready(function(){
        // initialize the table
        create_pagination_buttons();
        create_table_body(activebutton);
    });


</script>

<script>
    $(document).ready(function(){
		$("#pending_table").tablesorter();
    $("#search_input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#search_table tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
    });
		});
</script>
<!-- Analytics
================================================== -->
<script>
      /*
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
      */
</script>

<script>
    // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    //
    // ga('create', 'UA-46390926-1', 'trendnet.org');
    // ga('send', 'pageview');
</script>
<script>
    $(document).ready(function(){
        $('.collapseOne').hide();
        $('.view_downloads').on('click', function(e){
            let id = e.currentTarget.id.split('-')[1];
            $('#collapse-'+id).toggle();
        });
    });
</script>