{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="tm-container responsive">
    <div style="box-sizing: border-box; margin: 3.7% auto 3.5% auto; max-width: 1210px;">
        <div class="image-branding">
            <img class="photo" src="{% static 'img/harvest_robot.png' %}" alt="Harvest Robot">
        </div>
        {% if domains %}
            <table id="paginating-table" class="table table-bordered table-striped" style="margin-top:3.5%" style="max-width:300px;">
                <thead>
                    <tr>
                        <th style="width:15%;">ID </i></th>
                        <th>Domain Name </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div id="pagination-buttons" style="float:right">
                <ul class="pagination"></ul>
            </div>
        {% else %}
        <div class="alert alert-danger alert-dismissible fade in span5 offset2" style="margin-bottom:2%;margin-top: 10%">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Domain List is empty</strong>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

