{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="tm-container ">
        <div id="robot-head" style="margin:2% auto auto auto"><center>
            <img class="photo" src="{% static 'img/harvest_robot_black.png' %}" alt="Harvest Robot" style="width:300px;">
            <h1>Reset Pages</h1></center>
        </div>
        <div class="row-fluid" align="center">
            <div style="margin-top:20px;">
                <form method='post'>
                    {% csrf_token %}
                    <h6>
                        Domain Name: 
                        <select name='domain_id' style="width:10%">
                            <option value="0">Select Domain</option>
                            {% for domain in results.all_domains %}
                                <option value="{{domain.id}}">{{domain.url}}</option>
                            {% endfor %}
                        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Recently Added Pages:
                        <select name='reset_pages' style="width:10%">
                            <option value="-1">Select Time Added</option>
                            <option value="0">Today</option>
                            <option value="1">Yesterday</option>
                            <option value="3">3 days ago</option>
                            <option value="5">5 days ago</option>
                            <option value="7">7 days ago</option>
                            <option value="10">10 days ago</option>
                            <option value="all">All pages</option>
                        </select>
                    </h6>
                    <div style="margin-right: -38%; margin-top: 2%">
                        <button class="btn btn-danger">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if error %}
        <center><div class="alert alert-danger alert-dismissible fade in" style="width:42%;margin-top: 1%">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ error }}</strong>
        </div></center>
    {% elif results.data != None %}

    <div class="tm-container">
        <div class="row">
            <div class="span10 offset1">
                <section id="result">
                   <div class="page-header" style="margin: 0 0 0 0">
                        <h3><strong>Domain Name: </strong>{{ results.data.domain.name }}</h3>
                        <h5><strong>ID:</strong> {{ results.data.domain.id }}</h5>
                    </div>
                    <table class="table table-responsive table-bordered table-striped" id="default-buttons" style="max-width: 1210px">
                        <thead>
                            <tr>
                                <th>PageID</th>
                                <th>AddedDate</th>
                                <th>LastChecked</th>
                                <th>URL</th>
                                <th>Version</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for data in results.data.page %}
                            <tr>
                                <td>{{ data.id }}</td>
                                <td><span class="tm-label tm-label-default no-arrow">{{ data.created }}</span></td>
                                {% if not data.last_checked %}
                                    <td><span class="tm-label tm-label-warning no-arrow">{{ data.last_checked }}</span></td>
                                {% else %}
                                    
                                    <td><span class="tm-label tm-label-default no-arrow">{{ data.last_checked }}</span></td>
                                {% endif %}
                                <td>{{ data.url }}</td>
                                <td>{{ data.version }}</td>
    
                                {% if data.status == "Successful" %}
                                    <td><span class="tm-label tm-label-success no-arrow">{{ data.status }}</span></td>
                                {% elif data.status == "page_crawler_exception" %}
                                    <td><span class="tm-label tm-label-error no-arrow">{{ data.status }}</span></td>
                                {% elif data.status == "Created" %}
                                    <td><span class="tm-label tm-label-warning no-arrow">{{ data.status }}</span></td>
                                {% else %}
                                    <td>{{ data.status }}</td>
                                {% endif %}
    
                            </tr>        
                        {% endfor %}
        
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
{% endblock %}
