{% load static %}

<div class="tm-container marketing-container">
    <div class="marketing">
        <div class="row justify-content-center" style="margin-bottom: -80px; margin-top:-30px;">

            <div class="span2">
                <img src="{% static 'img/harvest_features.png' %}"/>
                <h5>Features</h5>
                <p>Browsing and file download automation.</p>
            </div>

            <div class="span2">
                <img src="{% static 'img/harvest_pattern.png' %}"/>
                <h5>Pattern</h5>
                <p>Pattern-based Harvest mechanism.</p>
                <p>Automated sites from Human assisted sourcing.</p>
            </div>

            <div class="span2">
                <img src="{% static 'img/harvest_plugability.png' %}"/>
                <h5>Plugability</h5>
                <p>Plug-in modules to support new websites.</p>
            </div>

            <div class="span2">
                <img src="{% static 'img/harvest_architecture.png' %}"/>
                <h5>Architecture</h5>
                <p>Centralized web service for site crawling.</p>
                <p>AWS Deployed.</p>
            </div>

            <div class="span2">
                <img src="{% static 'img/harvest_monitor.png' %}"/>
                <h5>Monitoring</h5>
                <p>Package and site monitoring.</p>
            </div>

        </div>
    </div>
</div>

